<aside itemscope itemtype="http://schema.org/WPSideBar">
  <div class="widget widget-follow">
    <ul>
      <li>
        <a href="/atom.xml">
          <i class="icon icon-rss icon-2x"></i>
          <span>Subscribe</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/lpolepeddi"> 
          <i class="icon icon-twitter icon-2x"></i>
          <span>Follow</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/lpolepeddi"> 
          <i class="icon icon-github icon-2x"></i>
          <span>Fork</span>
        </a>
      </li>
    </ul>      
  </div>
</aside>
